@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme{
    
    --color-myback2: #222831;
    --color-myback: #393E46;
    --color-mylight: #DFD0B8;

    --font-roboto: "Roboto", sans-serif; 
}