@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme{
    
    --color-myorange: #F1BA88;
    --color-myyellow: #E9F5BE;
    --color-mygreenl: #81E7AF;
    --color-mygreend: #03A791;

    --font-roboto: "Roboto", sans-serif; 
}